{% extends "base.html" %}
{% block title %}Accueil - TRÉSOR CONNECT{% endblock %}
{% block style %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}

<!-- Hero Section -->
<section class="hero">
  <div class="container">
   <header>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="" aria-label="Diapositive 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Diapositive 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Diapositive 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{{ url_for('static', filename='/images/1001027443.jpg')}}" alt="image" class="d-block w-100 " height="400" width="400">
          <div class="carousel-caption d-none d-md-block">
            <h5><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Journée porte ouverte au sein du trésor de divo</font></font></h5>
            <p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Quelques contenus représentatifs de l'espace réservé pour la première 
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus omnis fugit blanditiis, laudantium veniam sed?diapositive.</font></font></p>
          </div>
        </div>
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="{{url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="image" class="d-block w-100 " height="400" width="400">          <div class="carousel-caption d-none d-md-block">
            <h5><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Partage des nouvelles dispositifs du trésor à la poupulation</font></font></h5>
            <p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Quelques contenus représentatifs de l'espace réservé pour la deuxième 
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt atque corporis adipisci ullam? Maxime, ea?diapositive.</font></font></p>
          </div>
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="image" class="d-block w-100 " height="400" width="400">          <div class="carousel-caption d-none d-md-block">
            <h5><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Comment se rendre au trésor de divo</font></font></h5>
            <p><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Quelques contenus représentatifs de l'espace réservé pour la troisième 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas veritatis est minima vero repellat voluptatem.diapositive.</font></font></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;" color="red;">Précédent</font></font></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Suivant</font></font></span>
      </button>
    </div> <br>
  </header>

    <!-- Example Code End -->
  <div class="row row-cols-1">
            <center>
                <h2>Les services de la Trésorerie Générale de Divo</h2>
                <h4>Tous savoir sur les services du Trésor</h4>
                <p>Selon l'arrété n*0226 MFE/DGTCP du 17 MAI 2023 portant sur organistaion
                  des Trésoreries Générales et fixant leurs attributions.
                </p>
                <p style="font-weight: bold;">L'article 7 : les missions des différents services et de la caisse sont définies ainsi qu'il suit :</p>
            </center>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong><h5 style="font-weight: bold;">Le service secretariat</h5></strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><h5>Que faire le service secretariat :</h5></strong>
            <strong>Le service secretariat est chargé :</strong> 
            <li>de saisir et classer les documents</li>
            <li>de gérer les appels téléphonique, fax et couriers électroniques</li>
            <li>de rédiger des prjets de lettres</li>
            <li>de gérer les rendez-vous du chef de Poste</li>
            <li>de transmettre les informations et documents des services</li>
            <li>de préparer les missions</li>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong><h5 style="font-weight: bold;">Le Service Opération Communal</h5></strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><h5>Que faire le service communal</h5></strong>
            <strong>Le Service communal est chargé :</strong>
            <li>de prendre en charge et compatbiliser les opérations communales</li>
            <li>de suivre le recouvrement des recettes et de dépenses communales</li>
            <li>d'assurer le suivi des valeurs inactives de la commune</li>
            <li>d'élaborer le compte de gestion sur chiffres et sur pièces des opérations communales</li>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong><h5 style="font-weight: bold;">Le service depenses</h5></strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><h5>Que faire le service recouvrement :</h5></strong>
            <strong>Le Service dépenses est chargé :</strong>
            <li>de superviser les opérations de la dépenses de l'ETAT</li>
            <li>de contrôler les pièces de dépenses de l'ETAT</li>
            <li>de rédiger les rapports d'activités sur les dépenses</li>
            <li>d'integrer les expressions de bésoins, mettre en réglement, payer les de dépenses,
              assurer des incidents et de toutes autres anomalies dans l'implication de gestion automatisée
              du <strong>Compte Unique du Trésor</strong>, conformenement aux instructions du Chefs de Poste.
            </li>
            <li>de contrôler la cohérence entre les données de l'applicatif de gestion automatisée du <strong></strong>Compte
              Unique du Trésor </strong>et les données comptables
            </li>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong><h5 style="font-weight: bold;">Service Qualité écoute client</h5></strong>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><h5>Que faire le service recouvrement :</h5></strong>
            <strong>Le Service Recouvrement est chargé :.</strong> 
            <li>de contrôler les titres de recettes</li>
            <li>d'élaborer les stratégies de mobilisation des ressources</li>
            <li>de superviser les actions de recouvrement</li>
            <li>de produire les statisques de recouvrement</li>
            <li>de rédiger les rapports d'activités sur le recouvrement</li>
          </div>
        </div>
      </div>
    </div>
  </div>


<section><br>
    <!-- Example Code Start-->
    <h2>Les actualités du Trésor</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="Image" >          
          <div class="card-body">
            <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Fête du 62 ans du Trésor</font></font></h5>
            <h4>Journée d'activité Ville propre</h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">A l'accasion des 62 ans du Trésor Public, nous avons marqué notre présence dans la localité en procédant
              à une activté de ville propre, debuté à la préfecture passant par l'église catholique pour prendre fin à la grande mosquée de Divo
            </font></font></p>
          </div>
        </div>
      </div>
        <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="Image">          
          <div class="card-body">
            <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Fête du 62 ans du Trésor</font></font></h5>
            <h4>Journée Planting d'arbre</h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Il s'agit d'une carte plus longue, accompagnée d'un texte d'accompagnement en dessous, qui sert d'introduction naturelle à du contenu supplémentaire. Ce contenu est légèrement plus long.</font></font></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="Image">
          <div class="card-body">
            <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Fête du 62 ans du Trésor</font></font></h5>
            <h4>Journée DON de SANG</h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Ce jour 03 septembre 2025, au sein de la Trésorerie Générale Divo, tous les membres de la CF ont procédé a un DON de SANG avec l'appuie du CDTS</font></font></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='/images/TRESOR-LOGO-62-ans.png')}}" alt="Image" >
          <div class="card-body">
            <h5 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Fête du 62 ans du Trésor</font></font></h5>
            <h4>Journée Marche Sportive</h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Le sport étant bonne pour une santé durable, à l'accasion des 62 ans du Trésor, les membre de la CF DIVO accompagner des autorités régionales ont ensemble faire le tour de la ville.</font></font></p>
          </div>
        </div>
      </div>
    </div> 
  </div>
</section>

{% endblock %}
