{% extends "base.html" %}
{% block title%}Fonctionnement - TRÉSOR CONNECT{% endblock %}
{% block style %}
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

<!-- Section Hero -->
<section class="hero text-center py-5 bg-galaxy">
  <div class="container">
    <h1 class="display-4 fw-bold neon-text">TRESOR CONNECT</h1>
    <p class="lead mt-3 neon-text">TRESORERIE GÉNÉRAL FONCTIONNEMENT</p>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
  </script>

{% endblock %}
