{% extends "base.html" %}

{% block title %}Admin Settings{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Admin Settings</h1>
            <p>Template admin_settings.html - En cours de développement</p>
            
            <div class="alert alert-info">
                <i class="fas fa-info-circle"></i> 
                Cette page est en cours de construction. Contenu à compléter.
            </div>
        </div>
    </div>
</div>
{% endblock %}
